In [1]:
import jutil
import numpy as np

In [2]:
# 输入学生学号,要预测的课程X,返回该门课是否挂科

In [3]:
# 1.找出X的前置课程,确定学生的专业和年级
sql = "select grade,speciality_code,course_code,course_name,term_order,mark,pmark from view_stu_course_mark where student_id='2014112135'"
stu = jutil.load_pd_df(sql)
stu.head()

  course_code    course_name grade mark  pmark speciality_code  term_order
0     0471004       面向对象程序设计  2014   10   90.0            0408           2
1     0471005     面向对象程序设计实验  2014   10   96.0            0408           2
2     0471024      计算机网络工程实验  2014    6   76.0            0408           4
3     0471046  J2EE体系结构及程序设计  2014   10   95.0            0408           4
4     0471054     程序语言综合课程设计  2014   10   90.0            0408           2

In [6]:
a = stu[stu['course_name']=='人机交互技术']
a

  course_code course_name grade mark  pmark speciality_code  term_order
8     0471076      人机交互技术  2014    9   85.0            0408           4

In [15]:
grade = a['grade'].values[0]
term_order = a['term_order'].values[0]
speciality_code = a['speciality_code'].values[0]
course_code = a['speciality_code'].values[0]

In [17]:
pre_course = stu[stu['term_order']<term_order]

In [19]:
course_codes = pre_course['course_code'].values
course_codes

array(['0471004', '0471005', '0471054', '0471071', '0471072', '0471075',
       '0471108', '0471109', '0473031', '0473041', '0474011', '0474012',
       '0474014', '0475010', '0871112', '0872008', '1271031', '1371032',
       '2175005', '2572014', '3045600', '3100312', '3143300', '3200510',
       '3200557', '3232100', '3243020', '3243120', '3243510', '3243700',
       '3243781', '3244152', '3272003', '6010500', '6011310', '6011320',
       '6023200', '6033100', '6041943', '6100131', '6111110', '6111120',
       '6111220', '6771013', '7001062', '7001063', '7001146', '7001150',
       '7001151', '7001152', '7001153', '7001154', '7044900', '7047250',
       '7047923', '7775711', '8010210', '8010220', '8048380', '9010110',
       '9010120', '9010130', '9010140', '9990006', '9990620'],
      dtype=object)