In [1]:
import pandas as pd
import jutil

In [45]:
sql = "select DISTINCT(m1.student_id),m1.course_code as code1,m2.course_code as code2,m1.course_name as name1,m2.course_name as name2,m1.pmark as mark1,m2.pmark as mark2, \
m1.speciality_code from view_stu_course_mark m1 join view_stu_course_mark m2 on m1.student_id=m2.student_id \
where m1.course_code='6010500' and m2.course_code='7001063'"
df = jutil.load_pd_df(sql)
df.head()

     code1    code2  mark1  mark2  name1     name2 speciality_code student_id
0  6010500  7001063   87.0   94.0  线性代数B  中国近现代史纲要            0501   15435208
1  6010500  7001063   61.0   76.0  线性代数B  中国近现代史纲要            0215   20031155
2  6010500  7001063   60.0   33.0  线性代数B  中国近现代史纲要            0605   20042608
3  6010500  7001063   62.0   35.0  线性代数B  中国近现代史纲要            1302   20043646
4  6010500  7001063   79.0   65.0  线性代数B  中国近现代史纲要            0101   20050279

In [47]:
# 求每门课成绩的平均值
# df.groupby('code1').agg({'mark1':'mean'})['mark1']
mark_mean1 = float(df.groupby('code1').agg({'mark1':'mean'})['mark1'])
mark_mean2 = float(df.groupby('code2').agg({'mark2':'mean'})['mark2'])
print(mark_mean1)
print(mark_mean2)

71.02055216062853
77.01808380619816

In [48]:
# 求优秀的分数线,差就是小于平均值的分数
good_mark1 = mark_mean1+(100-mark_mean1)/2 
good_mark2 = mark_mean2+(100-mark_mean2)/2 
print(good_mark1)
print(good_mark2)

85.51027608031427
88.50904190309907

In [49]:
# 过滤出优秀和差的学生数据集

stu_goods1 = df[df.mark1>good_mark1]
stu_goods2 = df[df.mark2>good_mark2]
stu_all_goods = stu_goods1[stu_goods1.mark2>good_mark2]

stu_bads1 = df[df.mark1<mark_mean1]
stu_bads2 = df[df.mark2<mark_mean2]
stu_all_bads = stu_bads1[stu_bads1.mark2<mark_mean2]

temp = df[df.mark1<=good_mark1]
stu_normal1 = temp[temp.mark2>=mark_mean1]
temp = stu_normal1[stu_normal1.mark2>=mark_mean2]
stu_all_normal = temp[temp.mark2<=good_mark2]

In [50]:
goods2_cnt = stu_goods2.count()['mark1']
all_goods_cnt = stu_all_goods.count()['mark1']
good_prob = all_goods_cnt /goods2_cnt
good_prob

0.38383337465906275

In [51]:
bads2_cnt = stu_bads2.count()['mark2']
all_bads_cnt = stu_all_bads.count()['mark2']
bad_prob = all_bads_cnt/bads2_cnt
bad_prob

0.55856209792270295

In [52]:
# 正常中的比例
all_cnt = df.count()['student_id']
normal2_cnt =  all_cnt - goods2_cnt - bads2_cnt
all_normal_cnt = stu_all_normal.count()['mark2']
normal_prob = all_normal_cnt/normal2_cnt
normal_prob

0.71643950709484694

In [53]:
print(all_cnt)
print(goods2_cnt)
print(all_goods_cnt)
print(bads2_cnt)
print(all_bads_cnt)
print(normal2_cnt)
print(all_normal_cnt)

45820
4033
1548
20363
11374
21424
15349

In [55]:
# 最后按照比例分配权重
cnt = goods2_cnt + bads2_cnt
w_good = goods2_cnt / cnt
w_bad = bads2_cnt / cnt
# w_normal = normal2_cnt / all_cnt
final_prob = w_good*good_prob+w_bad*bad_prob #+w_normal*normal_prob
final_prob

0.52967699622888997

In [41]:
int(all_cnt)

2985