In [14]:
import pandas as pd
import jutil

In [2]:
sql = "select course_code,course_name,pmark,teacher,term_name \
from view_stu_course_mark where teacher='陈帆'"
df = jutil.load_pd_df(sql)
df.head()

  course_code course_name  pmark teacher      term_name
0     3243781    高级语言程序设计   80.0      陈帆  2009-2010第1学期
1     3244155   JAVA程序设计B   86.0      陈帆  2012-2013第2学期
2     3244155   JAVA程序设计B   79.0      陈帆  2012-2013第2学期
3     3200557      计算机导论A   88.0      陈帆  2010-2011第1学期
4     3200557      计算机导论A   65.0      陈帆  2010-2011第1学期

## 1.计算各个课程平均分和人数和波动性

In [7]:
d1 = df.groupby(['course_name']).agg({'pmark':'mean','course_code':'count'}).rename(columns={'pmark':'mean','course_code':'count'}).to_dict()
d1

{'count': {'JAVA程序设计B': 461,
  'Java程序设计': 252,
  'Java程序设计实验': 135,
  '计算机导论A': 581,
  '软件基础训练A': 179,
  '软件开发实习': 564,
  '高级#语言程序设计': 74,
  '高级编程课程设计': 407,
  '高级语言程序设计': 693,
  '高级语言程序设计实验': 132},
 'mean': {'JAVA程序设计B': 80.41865509761388,
  'Java程序设计': 81.8015873015873,
  'Java程序设计实验': 93.1037037037037,
  '计算机导论A': 80.19965576592082,
  '软件基础训练A': 85.6927374301676,
  '软件开发实习': 86.97695035460993,
  '高级#语言程序设计': 74.39189189189189,
  '高级编程课程设计': 89.73464373464374,
  '高级语言程序设计': 74.84271284271284,
  '高级语言程序设计实验': 77.65151515151516}}

In [13]:
d3 =  df.groupby(['course_name']).agg({'pmark':'std'}).rename(columns={'pmark':'std'}).to_dict()
d3

{'std': {'JAVA程序设计B': 13.896371090743564,
  'Java程序设计': 8.79289811332941,
  'Java程序设计实验': 4.834999998570862,
  '计算机导论A': 9.22111893232363,
  '软件基础训练A': 5.711264524111768,
  '软件开发实习': 7.189727766372453,
  '高级#语言程序设计': 19.337533641357115,
  '高级编程课程设计': 5.678548677445845,
  '高级语言程序设计': 16.043467675586683,
  '高级语言程序设计实验': 18.942655467491193}}

## 2.计算各个课程挂科率和高分率

In [8]:
d2 = df[df['pmark']<60].groupby('course_name').agg({'pmark':'count'}).rename(columns={'pmark':'count'}).to_dict()
d2

{'count': {'JAVA程序设计B': 23,
  'Java程序设计': 5,
  'Java程序设计实验': 1,
  '计算机导论A': 4,
  '软件开发实习': 1,
  '高级#语言程序设计': 9,
  '高级语言程序设计': 62,
  '高级语言程序设计实验': 17}}

In [9]:
d3 = df[df['pmark']>=85].groupby('course_name').agg({'pmark':'count'}).rename(columns={'pmark':'count'}).to_dict()
d3

{'count': {'JAVA程序设计B': 206,
  'Java程序设计': 104,
  'Java程序设计实验': 134,
  '计算机导论A': 208,
  '软件基础训练A': 124,
  '软件开发实习': 394,
  '高级#语言程序设计': 25,
  '高级编程课程设计': 345,
  '高级语言程序设计': 197,
  '高级语言程序设计实验': 61}}