In [1]:
import jutil
import numpy as np

In [2]:
# 输入学生学号,要预测的课程X,返回该门课是否挂科

In [3]:
# 1.找出X的前置课程,确定学生的专业和年级
sql = "select grade,speciality_code,course_code,course_name,term_order,mark,pmark from view_stu_course_mark where student_id='2014112135'"
stu = jutil.load_pd_df(sql)
stu.head()

  course_code    course_name grade mark  pmark speciality_code  term_order
0     0471004       面向对象程序设计  2014   10   90.0            0408           2
1     0471005     面向对象程序设计实验  2014   10   96.0            0408           2
2     0471024      计算机网络工程实验  2014    6   76.0            0408           4
3     0471046  J2EE体系结构及程序设计  2014   10   95.0            0408           4
4     0471054     程序语言综合课程设计  2014   10   90.0            0408           2

In [6]:
a = stu[stu['course_name']=='人机交互技术']
a

  course_code course_name grade mark  pmark speciality_code  term_order
8     0471076      人机交互技术  2014    9   85.0            0408           4

In [13]:
a['grade'].values[0]

'2014'