In [1]:
import jutil

In [ ]:
# 查询基本信息

In [23]:
sql = "select student_id,name,sex,grade,college_name,speciality_name,nation_name,CONVERT(VARCHAR,birthday,23) as birthday,state_type,party,family_address,student_mobilephone, \
    graduation_school,rewards_punish,rid_region,individual_love,email,school_area,enrollment_mark from view_student_full_info where student_id='20131629'"
stu = jutil.load_data(sql)[0]
stu

{'birthday': '1995-04-26',
 'college_name': '信息科学与技术学院',
 'email': '18482188554@163.com',
 'enrollment_mark': 579.9957,
 'family_address': '吉林省长春市二道区亚泰杏花苑',
 'grade': '2013',
 'graduation_school': '吉林省实验中学',
 'individual_love': '',
 'name': '初明',
 'nation_name': '汉族',
 'party': '中国共产主义青年团团员',
 'rewards_punish': '',
 'rid_region': '长春',
 'school_area': '犀浦校区',
 'sex': '女',
 'speciality_name': '通信工程',
 'state_type': '已毕业',
 'student_id': '20131629',
 'student_mobilephone': '18482188554'}

In [19]:
# 查询成绩信息

# 先暂时不自己计算绩点
sql = "select top 1 avg,gpa,order_num,speciality_num from exam_mark_rank_student where student_id='20131629' order by add_time desc"
marks = jutil.load_data(sql)[0]
marks

{'avg': 83.0, 'gpa': 3.751, 'order_num': 35, 'speciality_num': 200}

In [20]:
# 构造雷达图数据
r_mark = []
d = dict()
d['subject'] = '平均分'
d['v'] = marks['avg']
d['fullMark'] = 100
r_mark.append(d)
d = dict()
d['subject'] = '绩点'
d['v'] = marks['gpa']/4 * 100
d['fullMark'] = 100
r_mark.append(d)
d = dict()
d['subject'] = '排名'
d['v'] = (1 - marks['order_num']/ marks['speciality_num'])*100
d['fullMark'] = 100
r_mark.append(d)
r_mark

[{'fullMark': 100, 'subject': '平均分', 'v': 83.0},
 {'fullMark': 100, 'subject': '绩点', 'v': 93.77499999999999},
 {'fullMark': 100, 'subject': '排名', 'v': 82.5}]

In [26]:
# 查成绩波动图
sql = "select course_name,pmark,course_type from view_stu_course_mark where student_id='20131629' order by term_order"
df_mark = jutil.load_pd_df(sql)
df_mark = df_mark.drop_duplicates(subset='course_name')
df_mark.head()

  course_name course_type  pmark
0        通信导论           必   70.0
1    工科数学分析MI           必   53.0
3       线性代数M           必   71.0
4    英语综合能力MⅠ           必   76.0
5      计算机导论M           限   84.0

In [18]:
cn = df_mark['course_name'].values
pm = df_mark.pmark.values
mark_list = [{'course':cn[i],'mark':pm[i]} for i in range(len(cn))]

In [41]:
# 计算课程偏好
good = " ".join(df_mark.sort_values(by=['pmark']).head()['course_name'].values)
", ".join(wd.process_text(good).keys())

'电路分析BⅡ, 大学物理AⅡ, 面向对象程序设计, 概率与数理统计B, 工科数学分析MI'

In [40]:
bad = " ".join(df_mark[df_mark['course_type']=='必'].sort_values(by=['pmark'],ascending=False).head()['course_name'].values)
", ".join(wd.process_text(bad).keys())

'工程实习C, 体育Ⅳ, 形势与政策4, 马克思主义基本原理, 形势与政策6'

In [35]:
text = " ".join(df_mark[df_mark['course_type']=='选']['course_name'].values)

In [33]:
from wordcloud import WordCloud

In [42]:
wd = WordCloud(font_path="/home/jimo/workspace/Git/great-design/kill-student-server/resource/SimHei.ttf")
", ".join(wd.process_text(text).keys())

'食品, 化妆品安全与健康, 茶文化与品位生活, 心理电影赏析, 青年心理学, 现代营养与保健, 食品安全与健康'