In [1]:
import jutil
from sklearn.cluster import KMeans
import numpy as np
from collections import Counter

In [2]:
sql = "select t.Course_code as course_code from train_plan_course t,train_plan_credit c where t.Course_big_type_id=c.sid \
and t.Grade='2014' and c.type_name like '%专业%'  and t.Speciality_code='0408'"
code = [d['course_code'] for d in jutil.load_data(sql)]

In [3]:
len(set(code))

53

In [4]:
sql = "select * from view_stu_course_mark where speciality_code='0408' and grade='2014'"
df = jutil.load_pd_df(sql)
df.head()

,birthday,city,class_code,class_name,college_code,college_name,course_code,course_name,course_type,exam_type,...,province,sex,speciality_code,speciality_name,student_id,teach_class_id,teacher,term_id,term_name,term_order
0,710006400000,聊城市,0408201402,软件2014-02班,04,信息科学与技术学院,0471004,面向对象程序设计,必,正考,...,山东,男,0408,软件工程,20122639,1,龚勋,72,2014-2015第2学期,2
1,710006400000,聊城市,0408201402,软件2014-02班,04,信息科学与技术学院,0471109,软件工程/程序综合设计实习,必,正考,...,山东,男,0408,软件工程,20122639,1,何太军,76,2015-2016第2学期,3
2,710006400000,聊城市,0408201402,软件2014-02班,04,信息科学与技术学院,6010500,线性代数B,必,正考,...,山东,男,0408,软件工程,20122639,2,崔宁伟,71,2014-2015第1学期,1
3,710006400000,聊城市,0408201402,软件2014-02班,04,信息科学与技术学院,6041943,计算方法C,必,正考,...,山东,男,0408,软件工程,20122639,1,戴克俭,76,2015-2016第2学期,3
4,710006400000,聊城市,0408201402,软件2014-02班,04,信息科学与技术学院,7001153,形势与政策4,必,正考,...,山东,男,0408,软件工程,20122639,39,廖凡,76,2015-2016第2学期,3

In [5]:
# 选出了与专业相关的课程
dd = df[df['course_code'].isin(code)]

## 按学生group,然后将其课程分数作为维度,学生数作为数据量

In [6]:
m = dd.drop_duplicates(subset=['student_id','course_code']).groupby(['student_id','name'],as_index=False)['pmark'].apply(list)
md = m.to_dict()
marks = list(m)

In [7]:
# 得到大多数同学都有的课程
cnt = [len(m) for m in marks]
most_len = max(set(cnt),key=cnt.count)
# most_len
cc = dd.drop_duplicates(subset=['student_id','course_code']).groupby(['student_id','name'],as_index=False)['course_name'].apply(list)
course_names = []
for k,v in cc.iteritems():
    if len(v)==most_len:
        course_names = v
        break
course_names

['软件工程概论',
 '软件系统分析与设计',
 '数据结构实验',
 '计算机导论A',
 '算法设计与分析',
 '大学物理实验Ⅰ',
 'Java程序设计实验',
 '高级语言程序设计实验',
 '软件质量保证与测试',
 '面向对象程序设计',
 '程序语言综合课程设计',
 '数据库原理',
 '数据库原理实验',
 '微机与接口技术A',
 '软件设计实习',
 '线性代数B',
 '大学物理实验Ⅱ',
 'Java程序设计',
 '计算方法C',
 'J2EE体系结构及程序设计',
 '新技术讲座',
 '数据结构A',
 '计算机图形学',
 '面向对象程序设计实验',
 '计算机组成原理B',
 '数据库技术与应用',
 '计算机图形学实验',
 '操作系统实验',
 '计算机组成实验C',
 '软件项目管理',
 '数据库技术与应用实验',
 '数字电子技术B',
 '高级语言程序设计',
 '微机与接口技术实验',
 '人机交互技术',
 '人机交互技术实验',
 '计算机网络工程实验',
 '数字电子技术实验B(电类)',
 '高等数学Ⅰ',
 '高等数学Ⅱ',
 '数学建模B',
 '离散数学A',
 '软件工程/网络软件开发实习']

In [8]:
gd = dd.drop_duplicates(subset=['student_id','course_code']).groupby(['student_id','name'],as_index=False)
d_arr = dict() # key存的是课程名,value是存放成绩的数组,这样竖着看就是一个学生的成绩列表了,也就是转置操作
for name ,g in gd:
    d_m = dict()
    for i,row in g.iterrows():
        d_m[row['course_name']] = row['pmark']
    for c in course_names:
        d_arr[c] = d_arr.get(c,[])
        d_arr[c].append(d_m.get(c,60))
courses = d_arr.keys()
mt = [arr for arr in d_arr.values()]
mt = np.transpose(mt)

In [9]:
mt

array([[87., 85., 93., ..., 88., 84., 89.],
       [60., 74., 82., ..., 76., 33., 78.],
       [60., 75., 60., ..., 80., 74., 90.],
       ...,
       [71., 60., 87., ..., 83., 78., 60.],
       [71., 79., 91., ..., 83., 79., 81.],
       [66., 80., 85., ..., 85., 80., 85.]])

## 使用PCA提取因子

In [10]:
from sklearn.decomposition import PCA

In [18]:
pca = PCA(n_components=20)
pca.fit(mt)
x = pca.transform(mt)

In [19]:
x[0]

array([-64.75071145,   9.85046228,   1.54397052,   1.75108331,
         0.28903486,  -3.34036481,  -5.14588602,  -6.5395378 ,
       -15.94452886,   1.50604805,   7.44269963,  -3.23533745,
         2.54441914,  -1.7220222 ,   6.44520614,  -1.83436155,
        -7.94627089,   4.57815755,  -6.06278071,   1.62491089])