In [1]:
# 把学生的平均分计算出来

In [37]:
import jutil
import pandas as pd
import numpy as np

## 学院分析

In [2]:
def load_college_students_df(college_code):
    sql = "select *,CONVERT(VARCHAR,birthday,112) as birth from view_stu_course_mark where college_code='%s' and grade='2014'" % college_code
    return jutil.load_pd_df(sql)

In [3]:
# 信息学院
df = load_college_students_df('04')
df.head()

,birth,birthday,city,class_code,class_name,college_code,college_name,course_code,course_name,course_type,...,province,sex,speciality_code,speciality_name,student_id,teach_class_id,teacher,term_id,term_name,term_order
0,19960615,834768000000,北京,0403201403,通信2014-03班,04,信息科学与技术学院,0471006,计算机组成原理C,必,...,北京,男,0403,通信工程,20122169,3,唐慧佳,79,2016-2017第1学期,3
1,19960615,834768000000,北京,0403201403,通信2014-03班,04,信息科学与技术学院,0471007,现代交换原理,限,...,北京,男,0403,通信工程,20122169,2,刘恒,72,2014-2015第2学期,2
2,19960615,834768000000,北京,0403201403,通信2014-03班,04,信息科学与技术学院,0473001,DSP原理与应用,限,...,北京,男,0403,通信工程,20122169,1,邹应全,75,2015-2016第1学期,2
3,19960615,834768000000,北京,0403201403,通信2014-03班,04,信息科学与技术学院,1271002,随机过程C,必,...,北京,男,0403,通信工程,20122169,1,彭皓,73,2014-2015第1学期补考,1
4,19960615,834768000000,北京,0403201403,通信2014-03班,04,信息科学与技术学院,3006654,电路分析BⅠ,必,...,北京,男,0403,通信工程,20122169,4,谭永霞,64,2012-2013第2学期,0

In [4]:
# 要根据学生id聚类然后计算其平均分
def get_avg_stu_marks_df(df):
    groupd  = df.groupby(['student_id','college_code','college_name','sex','name','birth','class_code','class_name','nation_name',
        'party','province','city','speciality_code','speciality_name','grade'],as_index=False) # 保留列
    groupd = groupd.agg({'pmark':np.average})
    return groupd

In [5]:
marks = get_avg_stu_marks_df(df)
marks.head()

,student_id,college_code,college_name,sex,name,birth,class_code,class_name,nation_name,party,province,city,speciality_code,speciality_name,grade,pmark
0,20122169,04,信息科学与技术学院,男,王钧毅,19960615,0403201403,通信2014-03班,汉族,中国共产主义青年团团员,北京,北京,0403,通信工程,2014,53.827358
1,20122639,04,信息科学与技术学院,男,杨永虎,19920702,0408201402,软件2014-02班,汉族,中国共产党预备党员,山东,聊城市,0408,软件工程,2014,84.775641
2,20130068,04,信息科学与技术学院,男,任添笑,19950615,0402201401,计算机2014-01班,汉族,中国共产主义青年团团员,陕西,西安市,0402,计算机科学与技术,2014,81.977778
3,20131649,04,信息科学与技术学院,男,王鑫,19940202,0406201401,自动2014-01班,汉族,中国共产主义青年团团员,重庆,重庆市,0406,自动化,2014,61.821591
4,20131664,04,信息科学与技术学院,男,盛守彬,19940208,0406201402,自动2014-02班,汉族,中国共产主义青年团团员,辽宁,本溪市,0406,自动化,2014,55.774000

In [31]:
sex_cnt = marks['sex'].value_counts().to_dict()
type(int(sex_cnt['男']))

int

In [34]:
# 计算学院男女的平均成绩
g = marks.groupby('sex',as_index=False).agg({'pmark':np.average})
dg = dict(g)
type(dg['pmark'][0].item())

float

In [36]:
type(marks['pmark'].mean().item())

float

In [24]:
# 计算学院学霸和学渣人数
g = marks[marks['pmark']>90].groupby('sex',as_index=False).agg({'pmark':'count'}).to_dict()
# dict(g)
len(g['sex'])

2

In [23]:
g = marks[marks['pmark']<65].groupby('sex',as_index=False).agg({'pmark':'count'}).to_dict()

In [25]:
# 计算学院挂科人数
g = df[df['pmark']<60].drop_duplicates(subset=['student_id']).groupby('sex',as_index=False).agg({'pmark':'count'}).to_dict()
g

{'pmark': {0: 74, 1: 342}, 'sex': {0: '女', 1: '男'}}

## 特别条件成绩分析

## 按星座

In [59]:
def get_constellation(row):
    birth = str(row['birth'])[4:]
    if (birth>='1222' and birth<='1231') or (birth>='0101' and birth<='0119') :
        return '魔羯座'
    elif birth>='0120' and birth<='0218':
        return '水瓶座'
    elif birth>='0217' and birth<='0320':
        return '双鱼座'
    elif birth>='0319' and birth<='0420':
        return '白羊座'
    elif birth>='0419' and birth<='0520':
        return '金牛座'
    elif birth>='0519' and birth<='0621':
        return '双子座'
    elif birth>='0620' and birth<='0722':
        return '巨蟹座'
    elif birth>='0721' and birth<='0822':
        return '狮子座'
    elif birth>='0821' and birth<='0922':
        return '处女座'
    elif birth>='0921' and birth<='1022':
        return '天秤座'
    elif birth>='1023' and birth<='1121':
        return '天蝎座'
    elif birth>='1122' and birth<='1221':
        return '射手座'
    else:
        return '未知星座'

In [40]:
# 按星座
marks['constellation'] = marks.apply(get_constellation,axis=1)
marks.head()

,student_id,college_code,college_name,sex,name,birth,class_code,class_name,nation_name,party,province,city,speciality_code,speciality_name,grade,pmark,constellation
0,20122169,04,信息科学与技术学院,男,王钧毅,19960615,0403201403,通信2014-03班,汉族,中国共产主义青年团团员,北京,北京,0403,通信工程,2014,53.827358,双子座
1,20122639,04,信息科学与技术学院,男,杨永虎,19920702,0408201402,软件2014-02班,汉族,中国共产党预备党员,山东,聊城市,0408,软件工程,2014,84.775641,巨蟹座
2,20130068,04,信息科学与技术学院,男,任添笑,19950615,0402201401,计算机2014-01班,汉族,中国共产主义青年团团员,陕西,西安市,0402,计算机科学与技术,2014,81.977778,双子座
3,20131649,04,信息科学与技术学院,男,王鑫,19940202,0406201401,自动2014-01班,汉族,中国共产主义青年团团员,重庆,重庆市,0406,自动化,2014,61.821591,水瓶座
4,20131664,04,信息科学与技术学院,男,盛守彬,19940208,0406201402,自动2014-02班,汉族,中国共产主义青年团团员,辽宁,本溪市,0406,自动化,2014,55.774000,水瓶座

In [54]:
# 按星座性别求平均分和人数
marks.groupby(['constellation','sex'],as_index=False).agg({'pmark':'mean','grade':'count'}).rename(columns={'pmark':'mean','grade':'count'}).head()

  constellation sex       mean  count
0           双子座   女  80.835060      8
1           双子座   男  77.650870     53
2           双鱼座   女  80.193352     22
3           双鱼座   男  77.695130     35
4           处女座   女  83.505883     16

In [56]:
# 按星座求学霸人数
marks[marks['pmark']>90].groupby(['constellation','sex'],as_index=False).agg({'pmark':'count'}).rename(columns={'pmark':'count'})

  constellation sex  count
0           双子座   男      1
1           处女座   男      1
2           天秤座   女      1
3           天秤座   男      1
4           天蝎座   女      1
5           天蝎座   男      1
6           牡羊座   男      1
7           狮子座   女      1

In [57]:
# 按星座求学渣人数
marks[marks['pmark']<65].groupby(['constellation','sex'],as_index=False).agg({'pmark':'count'}).rename(columns={'pmark':'count'})

   constellation sex  count
0            双子座   男      2
1            双鱼座   男      2
2            处女座   男      5
3            天秤座   男      4
4            天蝎座   男      4
5            射手座   男      2
6            巨蟹座   男      3
7            水瓶座   男      4
8            牡羊座   男      5
9            狮子座   男      4
10           金牛座   男      2
11           魔羯座   男      2

In [58]:
# 按星座求挂科人数
marks[marks['pmark']<60].groupby(['constellation','sex'],as_index=False).agg({'pmark':'count'}).rename(columns={'pmark':'count'})

   constellation sex  count
0            双子座   男      2
1            双鱼座   男      2
2            处女座   男      1
3            天秤座   男      3
4            天蝎座   男      3
5            射手座   男      1
6            巨蟹座   男      3
7            水瓶座   男      2
8            牡羊座   男      1
9            狮子座   男      4
10           金牛座   男      2
11           魔羯座   男      1

## 按民族

In [60]:
# 按民族性别求平均分和人数
marks.groupby(['nation_name','sex'],as_index=False).agg({'pmark':'mean','grade':'count'}).rename(columns={'pmark':'mean','grade':'count'})

   nation_name sex       mean  count
0           侗族   女  70.863154      2
1           侗族   男  78.447442      2
2           傣族   男  70.746559      1
3         哈萨克族   女  68.457500      1
4         哈萨克族   男  54.602532      1
5           回族   女  77.793312      2
6           回族   男  72.765940      3
7          土家族   女  82.401426      2
8          土家族   男  81.696900      4
9           壮族   女  77.215595      2
10          壮族   男  79.041898      4
11          外籍   男  31.454545      1
12         布依族   男  58.330769      1
13          彝族   男  79.534568      1
14          汉族   女  82.687021    155
15          汉族   男  77.186746    485
16          满族   女  77.536495      4
17          满族   男  75.308955      4
18          瑶族   女  79.702500      1
19          瑶族   男  74.454667      1
20          白族   男  75.363569      2
21        维吾尔族   男  69.814457      2
22          苗族   女  76.534816      4
23          苗族   男  81.897333      1
24         蒙古族   女  73.349018      3
25         蒙古族   男  74.826169      2
26          藏族   男  62.386792      1
27          黎族   男  64.553776      1

In [61]:
# 按民族求学霸人数
marks[marks['pmark']>90].groupby(['nation_name','sex'],as_index=False).agg({'pmark':'count'}).rename(columns={'pmark':'count'})

  nation_name sex  count
0          汉族   女      3
1          汉族   男      5

In [62]:
# 按民族求学渣人数
marks[marks['pmark']<65].groupby(['nation_name','sex'],as_index=False).agg({'pmark':'count'}).rename(columns={'pmark':'count'})

  nation_name sex  count
0        哈萨克族   男      1
1          外籍   男      1
2         布依族   男      1
3          汉族   男     34
4          藏族   男      1
5          黎族   男      1

In [64]:
# 按民族求挂科人数
marks[marks['pmark']<60].groupby(['nation_name','sex'],as_index=False).agg({'pmark':'count'}).rename(columns={'pmark':'count'})

  nation_name sex  count
0        哈萨克族   男      1
1          外籍   男      1
2         布依族   男      1
3          汉族   男     22

## 按省份

In [53]:
marks.groupby('province',as_index=False).agg({'pmark':'mean','city':'count'}).rename(columns={'pmark':'mean','city':'count'}).head()

  province       mean  count
0       上海  74.507950      4
1       云南  72.813413     14
2      内蒙古  73.494827      7
3       北京  70.552434     10
4      北京市  87.236585      1

In [65]:
# 按省份求学霸人数
marks[marks['pmark']>90].groupby(['province','sex'],as_index=False).agg({'pmark':'count'}).rename(columns={'pmark':'count'})

  province sex  count
0       安徽   女      1
1       山东   男      2
2       广东   男      1
3       江苏   女      1
4       浙江   女      1
5       浙江   男      2

In [66]:
# 按省份求学渣人数
marks[marks['pmark']<65].groupby(['province','sex'],as_index=False).agg({'pmark':'count'}).rename(columns={'pmark':'count'})

   province sex  count
0        云南   男      3
1        北京   男      3
2        吉林   男      2
3        四川   男      8
4        安徽   男      1
5   安提瓜和巴布达   男      1
6        山东   男      1
7        山西   男      2
8        新疆   男      1
9        河北   男      1
10       河南   男      1
11       湖北   男      1
12       湖南   男      3
13       西藏   男      1
14       贵州   男      4
15       辽宁   男      1
16       重庆   男      1
17       陕西   男      3
18      黑龙江   男      1

In [67]:
# 按省份求挂科人数
marks[marks['pmark']<60].groupby(['province','sex'],as_index=False).agg({'pmark':'count'}).rename(columns={'pmark':'count'})

   province sex  count
0        云南   男      3
1        北京   男      3
2        吉林   男      1
3        四川   男      7
4   安提瓜和巴布达   男      1
5        山西   男      1
6        新疆   男      1
7        河北   男      1
8        湖南   男      1
9        贵州   男      3
10       辽宁   男      1
11       陕西   男      1
12      黑龙江   男      1

In [73]:
sql = "select *,CONVERT(VARCHAR,birthday,112) as birth from view_stu_course_mark " \
                  "where speciality_code='0403' and grade='2014'"
df = jutil.load_pd_df(sql)
len(df)

13623