In [8]:
import jutil

In [ ]:
# 查询基本信息

In [23]:
sql = "select student_id,name,sex,grade,college_name,speciality_name,nation_name,CONVERT(VARCHAR,birthday,23) as birthday,state_type,party,family_address,student_mobilephone, \
    graduation_school,rewards_punish,rid_region,individual_love,email,school_area,enrollment_mark from view_student_full_info where student_id='20131629'"
stu = jutil.load_data(sql)[0]
stu

{'birthday': '1995-04-26',
 'college_name': '信息科学与技术学院',
 'email': '18482188554@163.com',
 'enrollment_mark': 579.9957,
 'family_address': '吉林省长春市二道区亚泰杏花苑',
 'grade': '2013',
 'graduation_school': '吉林省实验中学',
 'individual_love': '',
 'name': '初明',
 'nation_name': '汉族',
 'party': '中国共产主义青年团团员',
 'rewards_punish': '',
 'rid_region': '长春',
 'school_area': '犀浦校区',
 'sex': '女',
 'speciality_name': '通信工程',
 'state_type': '已毕业',
 'student_id': '20131629',
 'student_mobilephone': '18482188554'}

In [19]:
# 查询成绩信息

# 先暂时不自己计算绩点
sql = "select top 1 avg,gpa,order_num,speciality_num from exam_mark_rank_student where student_id='20131629' order by add_time desc"
marks = jutil.load_data(sql)[0]
marks

{'avg': 83.0, 'gpa': 3.751, 'order_num': 35, 'speciality_num': 200}

In [20]:
# 构造雷达图数据
r_mark = []
d = dict()
d['subject'] = '平均分'
d['v'] = marks['avg']
d['fullMark'] = 100
r_mark.append(d)
d = dict()
d['subject'] = '绩点'
d['v'] = marks['gpa']/4 * 100
d['fullMark'] = 100
r_mark.append(d)
d = dict()
d['subject'] = '排名'
d['v'] = (1 - marks['order_num']/ marks['speciality_num'])*100
d['fullMark'] = 100
r_mark.append(d)
r_mark

[{'fullMark': 100, 'subject': '平均分', 'v': 83.0},
 {'fullMark': 100, 'subject': '绩点', 'v': 93.77499999999999},
 {'fullMark': 100, 'subject': '排名', 'v': 82.5}]

In [26]:
# 查成绩波动图
sql = "select course_name,pmark,course_type from view_stu_course_mark where student_id='20131629' order by term_order"
df_mark = jutil.load_pd_df(sql)
df_mark = df_mark.drop_duplicates(subset='course_name')
df_mark.head()

  course_name course_type  pmark
0        通信导论           必   70.0
1    工科数学分析MI           必   53.0
3       线性代数M           必   71.0
4    英语综合能力MⅠ           必   76.0
5      计算机导论M           限   84.0

In [18]:
cn = df_mark['course_name'].values
pm = df_mark.pmark.values
mark_list = [{'course':cn[i],'mark':pm[i]} for i in range(len(cn))]

In [41]:
# 计算课程偏好
good = " ".join(df_mark.sort_values(by=['pmark']).head()['course_name'].values)
", ".join(wd.process_text(good).keys())

'电路分析BⅡ, 大学物理AⅡ, 面向对象程序设计, 概率与数理统计B, 工科数学分析MI'

In [40]:
bad = " ".join(df_mark[df_mark['course_type']=='必'].sort_values(by=['pmark'],ascending=False).head()['course_name'].values)
", ".join(wd.process_text(bad).keys())

'工程实习C, 体育Ⅳ, 形势与政策4, 马克思主义基本原理, 形势与政策6'

In [35]:
text = " ".join(df_mark[df_mark['course_type']=='选']['course_name'].values)

In [6]:
from wordcloud import WordCloud

In [42]:
wd = WordCloud(font_path="/home/jimo/workspace/Git/great-design/kill-student-server/resource/SimHei.ttf")
", ".join(wd.process_text(text).keys())

'食品, 化妆品安全与健康, 茶文化与品位生活, 心理电影赏析, 青年心理学, 现代营养与保健, 食品安全与健康'

In [38]:
sql = "select student_name,college_name,speciality_code,speciality_name,grade,reason_type,reason_name,reason_level  \
 from view_my_score_add_apply where student_id='2014112323'"
df = jutil.load_pd_df(sql)
df.head()

,college_name,grade,reason_level,reason_name,reason_type,speciality_code,speciality_name,student_name
0,信息科学与技术学院,2014,515.00,CET6,大学英语六级考试,0412,电子信息类（茅以升学院）,杨峰
1,信息科学与技术学院,2014,三等奖,全国大学生数学建模竞赛,省级,0412,电子信息类（茅以升学院）,杨峰
2,信息科学与技术学院,2014,三等奖,全国大学生电子设计竞赛,省级,0412,电子信息类（茅以升学院）,杨峰
3,信息科学与技术学院,2014,三等奖,生命之星科技邀请赛,省级,0412,电子信息类（茅以升学院）,杨峰
4,信息科学与技术学院,2014,班长,担任14级茅班班干部,社会工作特长,0412,电子信息类（茅以升学院）,杨峰

In [39]:
df['apply'] = df['reason_name']+"-"+df['reason_type']+"-"+df['reason_level']
df.head()

,college_name,grade,reason_level,reason_name,reason_type,speciality_code,speciality_name,student_name,apply
0,信息科学与技术学院,2014,515.00,CET6,大学英语六级考试,0412,电子信息类（茅以升学院）,杨峰,CET6-大学英语六级考试-515.00
1,信息科学与技术学院,2014,三等奖,全国大学生数学建模竞赛,省级,0412,电子信息类（茅以升学院）,杨峰,全国大学生数学建模竞赛-省级-三等奖
2,信息科学与技术学院,2014,三等奖,全国大学生电子设计竞赛,省级,0412,电子信息类（茅以升学院）,杨峰,全国大学生电子设计竞赛-省级-三等奖
3,信息科学与技术学院,2014,三等奖,生命之星科技邀请赛,省级,0412,电子信息类（茅以升学院）,杨峰,生命之星科技邀请赛-省级-三等奖
4,信息科学与技术学院,2014,班长,担任14级茅班班干部,社会工作特长,0412,电子信息类（茅以升学院）,杨峰,担任14级茅班班干部-社会工作特长-班长

In [40]:
to_wd('apply')

## 群体画像

In [4]:
import os
import fnmatch

In [5]:
# 人数集合
# 学院的,找出那个文件或几年级的合成即可
college_code = '01'
cfs = os.listdir('/home/jimo/workspace/Git/great-design/mark/college/')
cf_select = fnmatch.filter(cfs,college_code+"*")
cf_select

['01_2011_mark.txt',
 '01_2012_mark.txt',
 '01_2014_mark.txt',
 '01_2016_mark.txt',
 '01_2010_mark.txt',
 '01_2013_mark.txt',
 '01_2017_mark.txt',
 '01_2015_mark.txt']

In [7]:
# 群体获奖词云
wd = WordCloud(font_path="/home/jimo/workspace/Git/great-design/kill-student-server/resource/SimHei.ttf")

In [28]:
sql = "select student_name,college_name,speciality_code,speciality_name,grade,reason_type,reason_name,reason_level  \
 from view_my_score_add_apply where college_code='04'"
df = jutil.load_pd_df(sql)
df.head()

,college_name,grade,reason_level,reason_name,reason_type,speciality_code,speciality_name,student_name
0,信息科学与技术学院,2014,一等奖,全国大学生智能车竞赛,国家级,0413,物联网工程,蔡经鑫
1,信息科学与技术学院,2014,三等奖,生命之星科技邀请赛,省级,0402,计算机科学与技术,周诗莹
2,信息科学与技术学院,2014,助理辅导员,信息科学与技术学院,社会工作特长,0413,物联网工程,蔡经鑫
3,信息科学与技术学院,2014,三等奖,五一数学建模,全省、片区类比赛,0413,物联网工程,蔡经鑫
4,信息科学与技术学院,2014,ZL201621391587.4,一种基于高速列车的风能发电系统,实用新型专利,0402,计算机科学与技术,周诗莹

In [23]:
def to_wd(key):
    reason_level = ",".join(df[key].values)
    wd.generate(reason_level).to_image().show()

In [24]:
to_wd('reason_level')

In [25]:
to_wd('reason_name')

In [26]:
to_wd('reason_type')

In [27]:
to_wd('speciality_name')

In [29]:
to_wd('student_name')

In [32]:
# 群体选课偏好
sql = " select course_name from view_stu_course_mark where college_code='04' and course_type='选'"
df = jutil.load_pd_df(sql)
df.head()

  course_name
0    汽车的选购与保养
1       毛泽东生平
2    现代交通旅行知识
3     俄罗斯影视欣赏
4       音乐心理学

In [33]:
to_wd('course_name')